name: CI
on:
  push:
    branches:
      - master
  pull_request
    branches:
      - master
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - run: npm install
      - run: npm run lint -- --max-warnings 0 --no-fix
      - run: npm run build
